.grided-section{

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right:15px;
  row-gap: 15px;

}


  .first-box,.second-box,.third-box,
  .fourth-box,.fifth-box,.sixth-box{

    height: 500px;
  }

sup{

  font-size: 10px;
}

/*    Grid 1 CSS    */

.first-box{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/grid-image-1.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
  background-position: center;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;  
  height: 540px;

}

.grid-1-speciality{

  margin-top: 5px;
  font-family:arial; 
  font-size: 20px; 
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;

  
  
}
.grid-1-name
{
  color:white ; 
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 40px;
}


.grid-1-button-2{


  border-width: 1px;
  border-style: solid;
  border-color: #0071e3;
  background-color:transparent;
  color: #0071e3;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius:30px;
  font-size: 17px;
  cursor: pointer;
}


.grid-1-button-2:hover{

 background-color:#0071e3;
  color: white;
  transition: all 0.35s;
}
.grid-1-button-1{

   background-color:#0071e3;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border:none;
  border-radius:30px;
  font-size: 17px;
  color: white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-right:12px;
  cursor: pointer;
}

.grid-1-button-1:hover{

    background-color:#0159b1;
    transition: all .35s;
}


.grid-1-trademark{

  margin-top: 300px;
   background: linear-gradient(to right,rgb(247, 0, 255),blue);
 background-clip:text;
 color: transparent;

}


/*    Grid 2 CSS    */

 
.second-box{

    display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-image: url("../Assets/grid-image-2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  
  height: 500px;
  background-color: rgb(14, 34, 247);
  background-size: cover;
  justify-content: end;
  padding-bottom: 40px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid; 
}

.grid-2-button-2{


  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  background-color:rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius:30px;
  font-size: 15px;
  cursor: pointer;
}



.grid-2-button-2:hover{
 
    background-color:#ffffff;
    transition: all .35s;
    color: black;

}
.grid-2-button-1{

   background-color:#ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border:none;
  border-radius:30px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-right:12px;
  cursor: pointer;
}

.grid-2-button-1:hover{

   background-color: rgb(195, 195, 195);
   transition: all 0.35s;
}


.grid-2-head{

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

.grid-2-speciality
{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   margin-bottom:0px;
   margin-top:0px;
}


/*    Grid 3 CSS    */


.third-box{

   display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/grid-image-3.jpg");
  height: 500px;
  background-color: rgb(14, 34, 247);
  background-size: cover;
  justify-content: end;
  padding-bottom: 40px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;

}


/*    Grid 4 CSS    */


.fourth-box{

  display: flex;
  flex-direction: column;
  background-image: url("../Assets/grid-image-4.jpg");
  align-items: center;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  height: 540px;
    background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
  background-position: center;
}



/*    Grid 5 CSS    */


.fifth-box{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/grid-image-5.jpg");
  height: 500px;
  background-color: rgb(14, 34, 247);
  background-size: cover;
  padding-bottom: 40px;
  padding-top:60px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;

}

.grid-5-logo{

  width:25px;
}

.grid-5-head{

  display: inline-block;
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:5px;
}
.grid-5-description{


  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   margin-bottom:0px;
   margin-top:0px;
}

.headlogo{

  margin-bottom:0px;
}


/*    Grid 6 CSS    */


.sixth-box{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/grid-image-6.jpg");
  height: 500px;
  background-color: rgb(14, 34, 247);
  background-size: cover;
  padding-bottom: 40px;
  padding-top:60px;
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
}

.lightmode-button-learn{

  background-color:rgb(0, 145, 255);
  color: #ffffff;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius:30px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  margin-right: 6px;
}

.lightmode-button-learn:hover{

    background-color:#036ed9;
    transition: all .35s;
}


.lightmode-button-buy{

    border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 145, 255);
  background-color:transparent;
  color: #0059b2;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:30px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 6px;
}


.lightmode-button-buy:hover{

 background-color:rgb(0, 145, 255);
  color: white;
  transition: all 0.35s;
}